.home-section {
  display: flex;
  position: relative;
  align-items: center;
  height: 100%;
  .my-pic {
    position: absolute;
    right: 0;
    top: 50px;
    .pic {
      width: 600px;
    }
  }
  .text-content {
    display: flex;
    justify-content: center;
    margin-left: 100px;
    height: 90vh;
    flex-direction: column;
    .main-heading {
      font-size: 80px;
      font-weight: 600;
    }
    .sub-heading {
      font-size: 20px;
      font-weight: 550;
    }
  }
}
.my-pic-mb {
  display: none;
}
@media (max-width: 991px) {
  .text-content {
    height: max-content !important;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    .main-heading {
      font-size: 50px !important;
      font-weight: 600;
      line-height: 80px;
      margin-bottom: 30px;
    }
    .sub-heading {
      font-size: 25px;
      font-weight: 550;
    }
  }
  .my-pic {
    display: none;
  }
  .home-section {
    flex-direction: column !important;
    align-items: center !important;
  }
  .my-pic-mb {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    img {
      width: 300px;
    }
  }
}
.typing-container {
  .typing-text {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid black;
    font-family: monospace;
    width: 0;
    animation: typing 3s steps(25, end), blink-caret 0.75s step-end infinite;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: normal;
  }

  @keyframes typing {
    0% {
      width: 0;
    }
    50% {
      width: 25ch; // match your character count
    }
    100% {
      width: 0;
    }
  }

  @keyframes blink-caret {
    50% {
      border-color: transparent;
    }
  }
}
