.home-section {
  display: flex;
  position: relative;
  align-items: center;
  height: 100%;
  .my-pic {
    position: absolute;
    right: 0;
    top: 0;
    .pic {
      width: 700px;
    }
  }
  .text-content {
    display: flex;
    justify-content: center;
    margin-left: 100px;
    height: 90vh;
    flex-direction: column;
    .main-heading {
      font-size: 80px;
      font-weight: 600;
    }
    .sub-heading {
      font-size: 20px;
      font-weight: 550;
    }
  }
}
.my-pic-mb{
    display: none;
}
@media (max-width: 991px) {
  .text-content {
    height:max-content !important;
    margin:50px;
    .main-heading {
      font-size: 50px !important;
      font-weight: 600;
      line-height: 80px;
      margin-bottom: 30px;
    }
    .sub-heading {
      font-size: 25px;
      font-weight: 550;
    }
  }
  .my-pic {
   display: none;
  }
.home-section{
    flex-direction: column !important;
    align-items: center !important;
}
.my-pic-mb{
    display: block;
}
}
.typing-container {
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
  width: 18ch; 
  animation: typing 4s steps(22) 1s infinite, blink-caret 0.75s step-end infinite;
}

/* Typing animation */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 18ch; /* Width matches the length of the text */
  }
}

/* Blinking cursor animation */
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}