.glass-btn {
  position: relative;
  padding: 10px 20px;
  text-decoration: none;
  color: #000;
  font-size: 14px;
  overflow: hidden;
  border:none;
  outline:none;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  letter-spacing: 1px;
  cursor: pointer;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.4),
      transparent
    );
    transition: 0.5s;
    transition-delay: 0.5s;
  }
  &:hover:after {
    left: 100%;
  }
  span {
    position: absolute;
    display: block;
    transition: 0.5s ease;
    &:nth-child(1) {
      top: 0;
      left: 0;
      width: 0;
      height: 1px;
      background: #fff;
    }
  }
}

.glass-btn:hover span:nth-child(1) {
  width: 100%;
  height: 1px;
  transform: translateX(100%);
}

.glass-btn span:nth-child(2) {
  top: 0;
  left: 0;
  width: 1px;
  height: 0;
  background: #fff;
}

.glass-btn:hover span:nth-child(2) {
  height: 100%;
  transform: translateY(100%);
}

.glass-btn span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 0;
  height: 1px;
  background: #fff;
}

.glass-btn:hover span:nth-child(3) {
  width: 100%;
  height: 1px;
  transform: translateX(-100%);
}

.glass-btn span:nth-child(4) {
  bottom: 0;
  right: 0;
  width: 1px;
  height: 0;
  background: #fff;
}

.glass-btn:hover span:nth-child(4) {
  height: 100%;
  transform: translateY(-100%);
}
