.tab-container {
  padding-left: 30px;
  .tab-header {
    display: flex;
    .tab {
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-weight: 550;
      width:150px;
    }
    .active-tab {
      border-bottom: 5px solid purple;
      border-radius: 5px;
    }
  }
  .tab-content {
    padding: 10px;
    padding-top: 10px !important;
  }
}
