* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.app{
  position: relative;
  width: 100%;
}
.main{
  margin-left:300px;

}
@media(max-width:990px){
  .main{
    margin-left:0;
  }
}
.section{
  height: 100vh;
}
