.section-heading{
    font-size: 40px;
    font-weight: 600;
    p{
      line-height:30px
    }
  }
  .underline{
    height:8px;
    width:10%;
    background-color: purple;
    border-radius: 20px;
  }

  @media (max-width:991px){
    .section-heading{
      font-size: 30px;
    }
  }